.body {
  font-family: 'Roboto', sans-serif;
  color: '#434455';
  background-color: #fff;
}

/*---------- navigation---------- */

.header {
  background: var(--white);
  border-bottom: 1 solid var(--cornflower);
  width: 1440;
  height: 72;
}
.navigation {
}

.logo-in-header {
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-two-part-in-header {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.navigation-lists {
  list-style: none;
}
.navigation-link {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02;
  color: #2e2f42;
}

.navigation-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02;
  color: #434455;
  text-decoration: none;
}

/* -------------------HERO-------------- */

.hero {
  background: #2e2f42;
}

.hero-titel {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fcfcfc;
}
.hero-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fcfcfc;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}

/* ---------features------- */

.features {
}
.features-titel {
}
.features-list {
}
.features-item {
}
.features-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------TEAM ----------*/
.team {
  background: #f4f4fd;
}
.team-titel {
}
.team-list {
}
.team-item {
}
.team-img {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
}
.team-subtitel {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
